{% extends 'FOSUserBundle::layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}
    Email confirmé
{% endblock %}

{% block class %}
    page-forgot-password
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/forgot-password.css') }}">
{% endblock %}

{% block body %}
    <h2>
        Yes !
    </h2>
    <p>
        {{ 'resetting.check_email'|trans({'%email%': email}) }}
    </p>
{% endblock %}

