<html class="no-js css-menubar" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Agroscopik">
    <meta name="author" content="Hugo Lehoux">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" type="shortcut icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="apple-touch-icon" href="{{ asset('front/mmenu/assets/images/apple-touch-icon.png') }}">

    {% block stylesheets %}
        {# Bootstrap and site stylesheets #}
        <link rel="stylesheet" href="{{ asset('front/global/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('front/global/css/bootstrap-extend.min.css') }}">
        <link rel="stylesheet" href="{{ asset('front/mmenu/assets/css/site.css') }}">
        {# Necessary plugin stylesheets #}
        {% block plugin_stylesheets %}
            <link rel="stylesheet" href="{{ asset('front/global/vendor/animsition/animsition.css') }}">
            <link rel="stylesheet" href="{{ asset('front/global/vendor/asscrollable/asScrollable.css') }}">
            <link rel="stylesheet" href="{{ asset('front/global/vendor/switchery/switchery.css') }}">
            <link rel="stylesheet" href="{{ asset('front/global/vendor/slidepanel/slidePanel.css') }}">
            <link rel="stylesheet" href="{{ asset('front/global/vendor/jquery-mmenu/jquery-mmenu.css') }}">
            <link rel="stylesheet" href="{{ asset('front/global/vendor/flag-icon-css/flag-icon.css') }}">
            <link rel="stylesheet" href="{{ asset('front/global/vendor/waves/waves.css') }}">
        {% endblock %}
        {# Font stylesheets #}
        <link rel="stylesheet" href="{{ asset('front/global/fonts/font-awesome/font-awesome.css') }}">
        <link rel="stylesheet" href="{{ asset('front/global/fonts/material-design/material-design.min.css') }}">
        <link rel="stylesheet" href="{{ asset('front/global/fonts/web-icons/web-icons.min.css') }}">
        <link rel="stylesheet" href="{{ asset('front/global/fonts/brand-icons/brand-icons.min.css') }}">
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,600,300italic'>
        <style>
            .table a{
                text-decoration: none;
            }

            .table td:hover a{
                text-decoration: underline;
            }
            input:-webkit-autofill {
                -webkit-box-shadow:0 0 0 50px white inset !important; /* Change the color to your own background color */
                -webkit-text-fill-color: #333;
            }
            input:-webkit-autofill:focus {
                -webkit-box-shadow: /*your box-shadow*/,0 0 0 50px white inset !important;
                -webkit-text-fill-color: #333;
            }
        </style>
    {% endblock %}

    {% block browser_compatibility %}
        <!--[if lt IE 9]>
        <script src="{{ asset('front/global/vendor/html5shiv/html5shiv.min.js') }}"></script>
        <![endif]-->
        <!--[if lt IE 10]>
        <script src="{{ asset('front/global/vendor/media-match/media.match.min.js') }}"></script>
        <script src="{{ asset('front/global/vendor/respond/respond.min.js') }}"></script>
        <![endif]-->
    {% endblock %}

    {% block head_javascripts %}
        <script src="{{ asset('front/global/vendor/modernizr/modernizr.js') }}"></script>
        <script src="{{ asset('front/global/vendor/breakpoints/breakpoints.js') }}"></script>
        <script>
            Breakpoints();
        </script>
    {% endblock %}

</head>

<body class="{% block body_class %}site-navbar-small site-menubar-unfold site-menubar-keep{% endblock %}">

{% block site_navbar %}
<nav class="site-navbar navbar navbar-inverse navbar-fixed-top navbar-mega bg-red-600" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle hamburger hamburger-close navbar-toggle-left hided"
                data-toggle="menubar">
            <span class="sr-only">Toggle navigation</span>
            <span class="hamburger-bar"></span>
        </button>
        <button type="button" class="navbar-toggle collapsed" data-target="#site-navbar-collapse"
                data-toggle="collapse">
            <i class="icon md-more" aria-hidden="true"></i>
        </button>
        <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
            <img class="navbar-brand-logo" src="{{ asset('front/mmenu/assets/images/logo.png') }}" title="Agroscopik">
            <span class="navbar-brand-text hidden-xs"> AGROSCOPIK</span>
        </div>
    </div>
    <div class="navbar-container container-fluid">
        <!-- Navbar Collapse -->
        <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
            <!-- Navbar Toolbar -->
            <ul class="nav navbar-toolbar">
                <li class="hidden-float" id="toggleMenubar">
                    <a data-toggle="menubar" href="#" role="button">
                        <i class="icon hamburger hamburger-arrow-left">
                            <span class="sr-only">Toggle menubar</span>
                            <span class="hamburger-bar"></span>
                        </i>
                    </a>
                </li>
            </ul>
            <!-- End Navbar Toolbar -->
            <!-- Navbar Toolbar Right -->
            <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
                <li class="dropdown">
                    <a class="navbar-avatar dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false"
                       data-animation="scale-up" role="button">
              <span class="avatar avatar-online">
                <img src="{{ asset('front/global/portraits/5.jpg') }}" alt="Photo_de_profil">
                <i></i>
              </span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation">
                            <a href="{{ path('fos_user_profile_show') }}" role="menuitem"><i class="icon md-account"
                                                                            aria-hidden="true"></i> Mon profil</a>
                        </li>
                        <li role="presentation">
                            <a href="{{ path('fos_user_profile_edit') }}" role="menuitem"><i class="icon md-settings"
                                                                            aria-hidden="true"></i> Paramètres</a>
                        </li>
                        <li class="divider" role="presentation"></li>
                        <li role="presentation">
                            <a href="{{ path('fos_user_security_logout') }}" role="menuitem"><i class="icon md-power"
                                                                                                aria-hidden="true"></i>
                                Déconnexion</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- End Navbar Toolbar Right -->
        </div>
        <!-- End Navbar Collapse -->
    </div>
</nav>
{% endblock %}

{% block site_menubar %}
<div class="site-menubar site-menubar-dark">
    <ul class="site-menu">
        <li class="site-menu-item">
            <a class="animsition-link" href="{{ path('farm_show_current') }}">
                <i class="site-menu-icon md-layers" aria-hidden="true"></i>
                <span class="site-menu-title">Parcelles</span>
            </a>
        </li>
        <li class="site-menu-item">
            <a class="animsition-link" href="{{ path('crop_current_index',{'id': app.user.farm.id }) }}">
                <i class="site-menu-icon md-flower" aria-hidden="true"></i>
                <span class="site-menu-title">Cultures</span>
            </a>
        </li>
        <li class="site-menu-item has-sub">
            <a href="javascript:void(0)">
                <i class="site-menu-icon md-toys" aria-hidden="true"></i>
                <span class="site-menu-title">Matériel</span>
                <span class="site-menu-arrow"></span>
            </a>
            <ul class="site-menu-sub">
                <li class="site-menu-item">
                    <a class="animsition-link" href="{{ path('tractor_index') }}">
                        <span class="site-menu-title">Tracteurs</span>
                    </a>
                </li>
                <li class="site-menu-item">
                    <a class="animsition-link" href="{{ path('implement_index') }}">
                        <span class="site-menu-title">Outils à atteler</span>
                    </a>
                </li>
            </ul>
        </li>
        {#
        <li class="site-menu-item">
            <a class="animsition-link" href="#">
                <i class="site-menu-icon md-calendar" aria-hidden="true"></i>
                <span class="site-menu-title">Calendrier</span>
            </a>
        </li>
#}
    </ul>
</div>
{% endblock %}

{% block page %}
    <div class="page animsition">
        <div class="page-content">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Agroscopik | Page en construction</h3>
                </div>
                <div class="panel-body">

                    {% block body %}
                        {% block fos_user_content %}
                        {% endblock fos_user_content %}
                    {% endblock %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}

</body>
{% block footer %}
<footer class="site-footer">
    <div class="site-footer-legal">© 2016 <a
                href="#">Agroscopik</a></div>
    <div class="site-footer-right">
        Fait avec <i class="red-600 icon md-favorite"></i> par <a href="#">Hugo Lehoux pour REPAIR</a>
    </div>
</footer>
{% endblock %}

{% block javascripts %}
    {# Core and plugin dependencies #}
{% block core_plugin %}
    <script src="{{ asset('front/global/vendor/jquery/jquery.js') }}"></script>
    <script src="{{ asset('front/global/vendor/bootstrap/bootstrap.js') }}"></script>
    <script src="{{ asset('front/global/vendor/animsition/animsition.js') }}"></script>
    <script src="{{ asset('front/global/vendor/asscroll/jquery-asScroll.js') }}"></script>
    <script src="{{ asset('front/global/vendor/mousewheel/jquery.mousewheel.js') }}"></script>
    <script src="{{ asset('front/global/vendor/asscrollable/jquery.asScrollable.all.js') }}"></script>
    <script src="{{ asset('front/global/vendor/ashoverscroll/jquery-asHoverScroll.js') }}"></script>
    <script src="{{ asset('front/global/vendor/waves/waves.js') }}"></script>
    <script src="{{ asset('front/global/vendor/jquery-mmenu/jquery.mmenu.min.all.js') }}"></script>
    <script src="{{ asset('front/global/vendor/switchery/switchery.min.js') }}"></script>
    <script src="{{ asset('front/global/vendor/intro-js/intro.js') }}"></script>
    <script src="{{ asset('front/global/vendor/screenfull/screenfull.js') }}"></script>
    <script src="{{ asset('front/global/vendor/slidepanel/jquery-slidePanel.js') }}"></script>
{% endblock %}
    {# Template relating scripts #}
    <script src="{{ asset('front/global/js/core.js') }}"></script>
    <script src="{{ asset('front/mmenu/assets/js/site.js') }}"></script>
    <script src="{{ asset('front/mmenu/assets/js/sections/menu.js') }}"></script>
    <script src="{{ asset('front/mmenu/assets/js/sections/menubar.js') }}"></script>
    <script src="{{ asset('front/mmenu/assets/js/sections/gridmenu.js') }}"></script>
    <script src="{{ asset('front/mmenu/assets/js/sections/sidebar.js') }}"></script>
    {# Template config scripts #}
{% block template_config %}
    <script src="{{ asset('front/global/js/configs/config-colors.js') }}"></script>
    <script src="{{ asset('front/mmenu/assets/js/configs/config-tour.js') }}"></script>
    <script src="{{ asset('front/global/js/components/asscrollable.js') }}"></script>
    <script src="{{ asset('front/global/js/components/animsition.js') }}"></script>
    <script src="{{ asset('front/global/js/components/slidepanel.js') }}"></script>
    <script src="{{ asset('front/global/js/components/switchery.js') }}"></script>
    <script src="{{ asset('front/global/js/components/tabs.js') }}"></script>
{% endblock %}

    {# Template initialise script #}
{% block template_init %}
    <script>
        (function (document, window, $) {
            'use strict';
            var Site = window.Site;
            $(document).ready(function () {
                Site.run();
            });
        })(document, window, jQuery);
    </script>
{% endblock %}

{% endblock %}
</html>
