{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register register-form','autocomplete':'off'}}) }}
            {{ form_errors(form) }}
<div class="form-group form-material floating">
    {{ form_widget(form.firstName) }}
    {{ form_label(form.firstName) }}
</div>
<div class="form-group form-material floating">
    {{ form_widget(form.lastName) }}
    {{ form_label(form.lastName) }}
</div>
<div class="form-group form-material floating">
    {{ form_widget(form.email) }}
    {{ form_label(form.email) }}
</div>
<div class="form-group form-material floating">
    {{ form_widget(form.plainPassword) }}
    {{ form_label(form.plainPassword) }}
</div>
<button type="submit" class="btn btn-primary btn-block btn-lg margin-top-40">S'inscrire</button>
{{ form_end(form) }}
<p>Déjà un compte ? <a href="{{ path('fos_user_security_login') }}">Connectez-vous</a></p>