{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ajouter une intervention</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Enregistrer" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('intervention_index') }}">Liste des interventions</a>
        </li>
    </ul>
{% endblock %}
