{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier le tracteur</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input class="btn btn-default" type="submit" value="Enregistrer"/>
    {{ form_end(edit_form) }}


    <a class="btn btn-default" href="{{ path('tractor_show', { 'id': tractor.id }) }}">Annuler</a>

    {% if is_granted('DELETE', tractor) or is_granted('ROLE_ADMIN') %}
        {{ form_start(delete_form) }}
        <input class="btn btn-danger" type="submit" value="Supprimer">
        {{ form_end(delete_form) }}
    {% endif %}
{% endblock %}
