{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ajouter un tracteur</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Enregistrer" />
    {{ form_end(form) }}


            <a class="btn btn-default" href="{{ path('tractor_index') }}">Retourner à la liste des outils</a>

{% endblock %}
