{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ tractor.name }}</h1>


            <a class="btn btn-default" href="{{ path('tractor_index') }}">Liste des tracteurs</a>

        {% if is_granted('EDIT', tractor) or is_granted('ROLE_ADMIN') %}

            <a class="btn btn-primary" href="{{ path('tractor_edit', { 'id': tractor.id }) }}">Editer</a>

        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}

            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}

        {% endif %}

{% endblock %}
