{% extends 'base.html.twig' %}

{% block body_class %}
    page-login-v3 layout-full
{% endblock %}

{% block plugin_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('front/mmenu/assets/examples/css/pages/login-v3.css') }}">
{% endblock %}

{% block site_navbar %}
{% endblock %}

{% block site_menubar %}
{% endblock %}

{% block page %}
<div class="page animsition vertical-align text-center" data-animsition-in="fade-in"
     data-animsition-out="fade-out">>
    <div class="page-content vertical-align-middle">
        <div class="panel">
            <div class="panel-body">
                <div class="brand">
                    <img class="brand-img" src="{{ asset('front/mmenu/assets/images/logo-blue.png') }}" alt="Logo">
                    <h2 class="brand-text font-size-18">Agroscopik</h2>
                </div>
                {{ include('FOSUserBundle:Security:login_content.html.twig') }}

                <p>Pas encore de compte ? <a href="{{ path('fos_user_registration_register') }}">Créer un compte</a></p>
            </div>
        </div>
        <footer class="page-copyright page-copyright-inverse">

            <p>© 2016, Agroscopik créé par Hugo Lehoux pour REPAIR.</p>

            <div class="social">
                <a class="btn btn-icon btn-pure" href="javascript:void(0)">
                    <i class="icon bd-twitter" aria-hidden="true"></i>
                </a>
                <a class="btn btn-icon btn-pure" href="javascript:void(0)">
                    <i class="icon bd-facebook" aria-hidden="true"></i>
                </a>
                <a class="btn btn-icon btn-pure" href="javascript:void(0)">
                    <i class="icon bd-google-plus" aria-hidden="true"></i>
                </a>
            </div>
        </footer>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block core_plugin %}
    {{ parent() }}
    <script src="{{ asset('front/global/vendor/jquery-placeholder/jquery.placeholder.js') }}"></script>
{% endblock %}

{% block template_config %}
    {{ parent() }}
    <script src="{{ asset('front/global/js/components/jquery-placeholder.js') }}"></script>
    <script src="{{ asset('front/global/js/components/material.js') }}"></script>
{% endblock %}

