{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post" autocomplete="off">

    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

    <div class="form-group form-material floating">
        <input type="email" id="username" class="form-control" name="_username"
               value="{{ last_username }}"/>
        <label class="floating-label">Email</label>
    </div>
    <div class="form-group form-material floating">
        <input type="password" class="form-control" name="_password"/>
        <label class="floating-label">Mot de passe</label>
    </div>
    <div class="form-group clearfix">
        {#
        <div class="checkbox-custom checkbox-inline checkbox-primary checkbox-lg pull-left">
            <input type="checkbox" id="inputCheckbox" name="remember">
            <label for="inputCheckbox">Se souvenir de moi</label>
        </div>
        #}
        <a class="pull-right" href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a>
    </div>
    <button type="submit" class="btn btn-primary btn-block btn-lg margin-top-40" type="submit"
            id="_submit" name="_submit">Connexion
    </button>
</form>
