{% extends 'base.html.twig' %}

{% block plugin_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('front/global/vendor/select2/select2.css') }}">
    <link rel="stylesheet" href="{{ asset('front/global/vendor/bootstrap-datepicker/bootstrap-datepicker.css') }}">
    <link rel="stylesheet" href="{{ asset('front/global/vendor/jt-timepicker/jquery-timepicker.css') }}">
{% endblock %}

{% block head_javascripts %}
    {{ parent() }}
    <link id="skinStyle" href="{{ asset('front/mmenu/assets/skins/teal.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block page %}
    <div class="page animsition">
        <div class="page-header padding-top-20 padding-bottom-10">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('plot_show',{'id':action.cropCycle.plot.id}) }}">{{ action.cropCycle.plot.name }}</a>
                </li>
                <li><a href="{{ path('cropcycle_show',{'id':action.cropCycle.id}) }}">{{ action.cropCycle.name }}</a>
                </li>
                <li class="active">Editer une intervention</li>
            </ol>
        </div>
        <div class="page-content">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <div class="panel panel-bordered">
                        <div class="panel-heading">
                            <h3 class="panel-title">Editer l'intervention</h3>
                        </div>
                        <div class="panel-body">
                            {{ form_start(edit_form) }}
                            <div class="row">
                                <div class="col-lg-12">
                                    <h4 class="example-title">
                                        {{ form_label(edit_form.intervention) }}
                                    </h4>
                                    {{ form_widget(edit_form.intervention) }}
                                </div>
                            </div>
                            <div class="row margin-top-20 hidden">
                                <div class="col-lg-12">

                                    <h4 class="example-title">
                                        Date d'intervention <a href="#" style="text-transform: capitalize;
" id="add_period"><i class="icon md-plus-circle-o" aria-hidden="true"></i></a>
                                    </h4>
                                    {% form_theme edit_form 'AppBundle:form:datetime.html.twig' %}
                                    {{ form_widget(edit_form.periods) }}
                                </div>
                            </div>
                            <div class="row margin-top-20">
                                <div class="col-lg-12">
                                    <h4 class="example-title">
                                        {{ form_label(edit_form.tractors) }}
                                        <a href="{{ path('tractor_new') }}" style="text-transform: capitalize;
" id="add_period"><i class="icon md-plus-circle-o" aria-hidden="true"></i></a>
                                    </h4>
                                    {{ form_errors(edit_form.tractors) }}
                                    {{ form_widget(edit_form.tractors) }}
                                </div>
                                <div class="col-lg-12 margin-top-10">
                                    <h4 class="example-title">
                                        {{ form_label(edit_form.implements) }}
                                        <a href="{{ path('implement_new') }}" style="text-transform: capitalize;
" id="add_period"><i class="icon md-plus-circle-o" aria-hidden="true"></i></a>
                                    </h4>
                                    {{ form_errors(edit_form.implements) }}
                                    {{ form_widget(edit_form.implements) }}
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <a class="btn btn-default"
                               href="{{ path('cropcycle_show',{'id':action.cropCycle.id}) }}">Annuler</a>
                            <button class="btn btn-primary margin-left-10" type="submit">Enregistrer</button>
                            {{ form_end(edit_form) }}

                        </div>
                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="panel panel-bordered">
                        <div class="panel-heading"><div class="panel-title">Actions sensibles</div></div>
                        <div class="panel-body">
                            {% if is_granted('DELETE', action) or is_granted('ROLE_ADMIN') %}
                                {{ form_start(delete_form) }}
                                <button class="btn btn-danger" type="submit">Supprimer</button>
                                {{ form_end(delete_form) }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block template_config %}
    {{ parent() }}
    <script src="{{ asset('front/global/vendor/select2/select2.min.js') }}"></script>
    <script src="{{ asset('front/global/js/components/select2.js') }}"></script>

    <script src="{{ asset('front/global/vendor/bootstrap-datepicker/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('front/global/vendor/bootstrap-datepicker/bootstrap-datepicker.fr.js') }}"></script>
    <script src="{{ asset('front/global/vendor/jt-timepicker/jquery.timepicker.js') }}"></script>
    <script src="{{ asset('front/global/vendor/datepair-js/datepair.min.js') }}"></script>
    <script src="{{ asset('front/global/vendor/datepair-js/jquery.datepair.min.js') }}"></script>

    <script src="{{ asset('front/global/js/components/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('front/global/js/components/jt-timepicker.js') }}"></script>
    <script src="{{ asset('front/global/js/components/datepair-js.js') }}"></script>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function () {
            var $container = $('div#action_edit_periods');
            var index = $container.find(':input').length;
            $('#add_period').click(function (e) {
                addPeriod($container);

                e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                return false;
            });

            if (index == 0) {
                addPeriod($container);

            } else {
                $container.children('div').each(function () {
                    addDeleteLink($(this));
                });
            }

            function addPeriod($container) {
                var template = $container.attr('data-prototype')
                        .replace(/__name__label__/g, '')
                        .replace(/__name__/g, index)
                        .replace(/Start datetime/g, "Début d'intervention")
                        .replace(/End datetime/g, "Fin d'intervention")
                        .replace(/form-group/g, "form-group col-lg-12")
                        ;

                var $prototype = $(template);
                addDeleteLink($prototype);
                $container.append($prototype);


                $('input[id*="startDatetime_time"]').addClass("time start");
                $('input[id*="startDatetime_date"]').addClass("date start");
                $('input[id*="endDatetime_time"]').addClass("time end");
                $('input[id*="endDatetime_date"]').addClass("date end");

                // initialize input widgets first
                $('.time').timepicker({
                    'showDuration': true,
                    'timeFormat': 'G:i',
                    'show2400': true
                });

                $('.date').datepicker({
                    'format': 'dd/mm/yyyy',
                    'startView': 'months',
                    'minView': 'days',
                    'language': 'fr',
                    'autoclose': true
                });

                // initialize datepair
                var basicExampleEl = document.getElementById('action_edit_periods_' + (index));
                var datepair = new Datepair(basicExampleEl,{
                    anchor: 'null'
                });

                index++;
            }

            function addDeleteLink($prototype) {
                var $deleteLink = $('<a href="#" style="position: absolute;top: -5px;right: 20px;"><i class="btn btn-pure btn-danger icon waves-effect waves-circle waves-classicr md-close-circle-o" aria-hidden="true"></i></a>');
                $prototype.append($deleteLink);
                $deleteLink.click(function (e) {
                    $prototype.remove();

                    index--;

                    e.preventDefault();
                    return false;
                });
            }
        });
    </script>
{% endblock %}