{% extends '::base.html.twig' %}

{% block body %}
<h1>{{ crop.name }}</h1>

<table class="table table-hover">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Parcelle</th>
    </tr>
    </thead>
    <tbody>
    {% for action in actions %}
        {% if is_granted('VIEW', action) or is_granted('ROLE_ADMIN') %}
            <tr>
                <td>
                    <a href="{{ path('action_show', { 'id': action.id }) }}">{{ action.name }}</a>
                </td>
                <td>
                    <a href="{{ path('cropcycle_show', { 'id': action.cropCycle.id }) }}">{{ action.cropCycle.plot.name }}</a>
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
{% endblock %}

