{% extends 'base.html.twig' %}

{% block head_javascripts %}
    {{ parent() }}
    <link id="skinStyle" href="{{ asset('front/mmenu/assets/skins/teal.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block page %}
    <div class="page animsition">
        <div class="page-content">
            <div class="row">
                <div class="col-lg-9"></div>
                <div class="col-lg-3">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Campagne</h3>
                        </div>
                        <div class="panel-body">
                            <div class="btn-group" aria-label="Basic example" role="group">
                                <a type="button"
                                   href="{{ path('crop_current_index',{'id':app.user.farm.id,'year':year-1}) }}"
                                   class="btn btn-default waves-effect waves-light"><i
                                            class="icon md-chevron-left margin-0" aria-hidden="true"></i></a>
                                <a type="button" href="#"
                                   class="btn btn-default waves-effect waves-light">{{ year }}</a>
                                <a type="button"
                                   href="{{ path('crop_current_index',{'id':app.user.farm.id,'year':year+1}) }}"
                                   class="btn btn-default waves-effect waves-light"><i
                                            class="icon md-chevron-right margin-0" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for crop in crops %}
                    <div class="col-xlg-6 col-md-6">
                        <div class="panel panel-bordered panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    {{ crop.name }}
                                    <a href="{{ path('crop_campaign_show', { 'farm':app.user.farm.id,'crop': crop.id,'year':year }) }}">
                                        <i class="icon md-plus-circle-o" aria-hidden="true"></i>
                                    </a>
                                </h3>

                                <div class="panel-actions">{{ render(controller('AppBundle:Crop:getCumulatedArea',{'farm':app.user.farm.id,'crop':crop.id,'year':year})) }}</div>
                            </div>
                            {{ render(controller('AppBundle:CropCycle:indexCropCampaign',{'id': crop.id,'year':year } )) }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}


