<table class="table table-hover">
    <tbody>
    {% for cycle in cropCycles %}
        {% if cycle.actions is empty %}
            <tr>
                <td>
                    <a href="{{ path('cropcycle_show',{'id':cycle.id}) }}">{{ cycle.plot.name }}</a>
                    <br/>
                    {{ cycle.area | number_format(2, ',', ' ') }} ha
                </td>
                <td>
                    <span class="pull-right label label-default  margin-right-10px">A renseigner</span>
                </td>
            </tr>
        {% else %}
            <tr>
                <td>
                    <div class="content">
                        <div class="title">
                            <a href="{{ path('cropcycle_show',{'id':cycle.id}) }}">{{ cycle.plot.name |capitalize }}</a>
                            {{ cycle.area | number_format(2, ',', ' ') }} ha
                        </div>
                        <div class="metas">
                            <span class="started">
                                <i class="icon md-calendar" aria-hidden="true"> </i>
                                {{ cycle.intervalLabel }}
                                {% if cycle.durationLabel != '' %}
                                    <i class="icon md-time-interval margin-left-10" aria-hidden="true"></i>
                                    {{ cycle.durationLabel }}
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </td>
                <td>
                    {% if cycle.status == "ActiveAction" %}
                        <span class="pull-right label label-danger  margin-right-10px">En cours</span>
                    {% elseif cycle.status == "CompletedAction" %}
                        <span class="pull-right label label-info  margin-right-10px">Terminé</span>
                    {% elseif cycle.status == "PotentialAction" %}
                        <span class="pull-right label label-default  margin-right-10px">A venir</span>
                    {% endif %}
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>