{% extends 'base.html.twig' %}

{% block body %}
    <h1>CropCycle edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Enregistrer" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('plot_show',{'id': cropCycle.plot.id }) }}">Retourner à la parcelle</a>
        </li>
        {% if is_granted('DELETE', cropCycle) or is_granted('ROLE_ADMIN') %}
            <li>
                {{ form_start(delete_form) }}
                    <input type="submit" value="Supprimer">
                {{ form_end(delete_form) }}
            </li>
        {% endif %}
    </ul>
{% endblock %}
